.homer{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    /* gap: 6px; */
    /* margin-top: 3px; */
    z-index: 1;
}


.home{
    margin-left: auto;
    margin-right: auto;
    max-width: 1480px;

}

.Home_img{
    width: 100%;
    mask-image: linear-gradient(to bottom ,rgba(0,0,0,1),rgba(0,0,0,0));
    z-index: -1;margin-bottom: -150px;
    
}

